@model User

<div class="container">
    <div class="card card-body bg-secondary border-0" style="width: 75%;">
        <form action="/delete/@Model.UserId" class="form-group" method="post">
            <label for="">Close account></label>
            <input type="text">
        </form>
    </div>
</div>